.bg-image {
   background-color: grey;
   background-position: center;
   background-size: cover;
  }

  .bg-image-1 {
     background-image: url("https://images.unsplash.com/photo-1514896856000-91cb6de818e0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60");
min-height: 30vh;
  }
.bg-image-2{
  background-image: url("https://images.unsplash.com/photo-1504197885-609741792ce7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60");
  height: 30vh;
}
.bg-image-3{
  background-image: url("https://images.unsplash.com/photo-1463790452759-ce66b98dfca2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60");
  height: 30vh;
}
h1 {font-size: 50px}
.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

  h2 {font-size: 20px}
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h3 {font-size: 30px}
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

    div {
      padding-top: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
    }
    h4 {font-size: 15px}
    .centered {
      position: absolute;
      top: 50%;
      left: 20%;
      transform: translate(-50%, -50%);
    }
